# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist

# dependencies
/node_modules
**/node_modules
**/dist

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.env
.env.prod
/terraform/.terraform.lock.hcl
/terraform/.terraform
/terraform/*.zip
.turbo